/* Styl dla całego ciała strony */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Wyrównanie do góry */
    align-items: center; /* Wyśrodkowanie poziome */
    height: 100vh;
    background-color: #f4f4f4;
}

/* Styl dla katalogu */
.catalog {
    text-align: center;
}

/* Styl dla obrazka nagłówka */
.header-image {
    width: 50%; /* Ustawiamy szerokość obrazka na 50% szerokości ekranu */
    height: auto; /* Zachowanie proporcji obrazka */
    margin-top: 20px; /* Odstęp od góry strony */
    max-width: 400px; /* Maksymalna szerokość obrazka - możesz dostosować */
}

/* Styl dla zdjęć ryb w katalogu */
img {
    margin: 10px;
    transition: transform 0.3s;
}

/* Powiększanie obrazków po najechaniu */
img:hover {
    transform: scale(1.1);
}
